extends layout

block content
    h1= 'Add new message'
    form(action="/new", method="post")
        .user
            label(for="user") Name
            input(type="text" name="messageUser")
        .text
            label(for="text") Message
            input(type="text" name="messageText")
        button(type="submit" value="submit") Submit