<!DOCTYPE html>
<head>
    <title>Add new message</title>
</head>
<body>
    <form method="POST" action="/new">
        <input type="text" name="messageUser">
        <input type="text" name="messageText">
        <input type="submit" value="Submit">
    </form>
</body>

</html>